.contactDesc
{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
    margin-left: 640px;
}

.contactPageTitle
{
    padding: 1rem;
    font-size: large;
    font-weight: 300;
    margin-left: 760px;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 90px; */
     /* max-width: 60rem; */
}

.name,.email,.msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5;
    padding: 0.5rem 0.5rem;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40,40);
}

.submitbtn{
    background: white;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 1rem;
    margin: 2rem;
}

.link{
    width:45px ;
    height: 45px;
}