*
{
    padding: 0;margin: 0;box-sizing: border-box;
}

h1
{
    text-align: center;
}

form
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}